.barButton{
    width: 20%;
    display: block;
    text-decoration-line: none;
    text-align: center;
    background: black;
}

.title{
    text-align: center;
    width: 100vh;
    color: white;
    background-color: black;
    margin: 0px;

}
.link{
    text-decoration:"none"; 
    text-decoration-line: none;
    background-color: black;
    color: white;
}
link:hover{
    background-color: white;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}
